<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>

  <h2><%= @mission.title  %></h2>

 <h3> Welcome it's<strong class = "current-user">  <%= current_user.first_name %> 😄</strong></h3>

  <h4> let's chat !</h4>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div>
    <%= simple_form_for [@mission, @chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{@mission.title}",
        wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-info mb-3 mt-0" %>
    <% end %>
  </div>
</div>
