<h2 class = "text-center fw-1 fs-1 m-5">Welcome ! Time To Book Your Mission </h2>
<%# <%= current_user.first_name %>
<%# <%= @mission.user.first_name %> 
      <% if current_user != @mission.user %>

          <% simple_form_for [@mission, @booking] do |f| %>
            <% if @mission.end_date.mjd - @mission.start_date.mjd > 1 %>
              <%= f.date_field :start_date %>
              <%= f.date_field :end_date%>
            <% else %>
              <%= start_date.mission %>
            <% end %>

                <%= link_to "Book your mission ", profile_path%>
          <% end %>
                </div>

      <%= link_to "< Back to missions", missions_path, class: "btn btn primary"%>

    <% end %>
