<div class="footer">
  <%= link_to missions_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to calendars_path do %>
    <i class="fa-solid fa-calendar"></i>
  <% end %>

  <%= link_to missions_path do %>
  <%# <%= link_to new_booking_voucher_path(current_user.bookings.last) do %>
    <i class="fa-solid fa-wallet"></i>
  <% end %>

  <%= link_to missions_path do %>
    <i class="fa-solid fa-comments"></i>
  <% end %>

  <%= link_to profile_path do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
<%# new_booking_voucher_path(current_user.bookings.last) %>
