<div class="footer">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to calendars_path do %>
    <i class="fa-solid fa-calendar"></i>
  <% end %>

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 84a7a4b2afcdc9cba3e33eb934cc686733893ce0
 <% if current_user && Booking.all != [] %>
      <%= link_to new_booking_voucher_path(current_user.bookings.last) do %>
        <i class="fa-solid fa-wallet"></i>
      <% end %>
 <% end %>
<<<<<<< HEAD
=======
=======

>>>>>>> 84a7a4b2afcdc9cba3e33eb934cc686733893ce0
  <%# <%= link_to missions_path do %>
  <%# <%= link_to booking_voucher_path(@voucher) do %>
    <%# <i class="fa-solid fa-wallet"></i> %>
  <%# <% end %>
<<<<<<< HEAD
>>>>>>> 792fc4df1556d866854d328d49b6c15026fa8fda
=======
>>>>>>> 84a7a4b2afcdc9cba3e33eb934cc686733893ce0

  <%= link_to missions_path do %>
    <i class="fa-solid fa-comments"></i>
  <% end %>

  <%= link_to profile_path do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
<%# new_booking_voucher_path(current_user.bookings.last) %>


<%# <%= link_to missions_path do %>
