
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb- navbar-custom">
  <div class="container-fluid">
    <%= link_to missions_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dzwtudz1z/image/upload/v1678975034/8swozqxfmz-emcvnrl6tm-removebg-preview_az3mnw.png", class:"btn-outline-info" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto text-end">
        <% if user_signed_in? %>

          <li class="nav-item dropdown text-end ">
           <%= image_tag "https://avatars.githubusercontent.com/u/119122764?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
            <%= link_to "Discover", new_mission_path, class: "dropdown-item" %>
             <%= link_to "Your profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Post a mission", new_mission_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {method: :delete}, class: "dropdown-item" %>



            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container premier-para">
  <h2 class="titre-homepage text-center">Earth Care</h2>
  <br>
  <h4 class="sous-titre">The More You Care, The More You Earn.</h4>
  <br>
  <%= link_to "Discover", root_path, class: "premier-btn", type: "button" %>
  <%= link_to "Our Missions", missions_path, class: "second-btn", type: "button"  %>
  <br>
  <br>
</div>


<div class="container second-para text-center">
  <h2 class="title-h2-home center">Join Us</h2>
  <br>
  <br>
  <p class="text-join-us">+1000 Volunteers</p>
  <br>
  <div class="horizontal-separator"></div>
  <br>
  <p class="text-join-us">+500 Missions</p>
  <br>
  <div class="horizontal-separator"></div>
  <br>
  <p class="text-join-us">+100 Partners</p>
    <div class="logo-carousel">
<div class="carousel-container-logo slide-track">
        <div class="logo-item"><%= image_tag('AMOr-benamor.png', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('Lidl-Logo.png', class: "h-100") %></div>
        <div class="logo-item"><%= image_tag('Fnac_Logo.png', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('flyer-cafe-barbesbd.jpg', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('Emblema-Carrefour.png', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('Hamoud_logo.png', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('Darty.png', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('pv.png') %></div>
        <div class="logo-item"><%= image_tag('Decathlon-logo.png') %></div>
        <div class="logo-item"><%= image_tag('Lidl-Logo.png', class: "h-100") %></div>
        <div class="logo-item"><%= image_tag('flyer-cafe-barbesbd.jpg', class: "w-100") %></div>
        <div class="logo-item"><%= image_tag('logo-biocoop-2019.png', class: "w-100") %></div>
      </div>
  </div>
</div>



<div class="container third-para">
  <h2 class="title-p3-home text-center">Community</h2>
    <br>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('Test-1.jpg') %>
          </div>
          <div class="carousel-item">
              <%= image_tag('Test-2.jpg') %>
          </div>
          <div class="carousel-item">
              <%= image_tag('Test-3.jpg') %>
          </div>
          <div class="carousel-item">
              <%= image_tag('Test-4.jpg') %>
          </div>
        </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <br>
    </div>
</div>

<div class="container fourth-para">
  <h2 class="title-p3-home text-center title-fourth">Follow Us</h2>
  <br>
  <br>

  <i class="fa-brands fa-instagram social-media"></i>

  <i class="fa-brands fa-facebook social-media"></i>

  <i class="fa-brands fa-linkedin social-media"></i>

  <i class="fa-brands fa-github social-media"></i>
  <br>
  <br>
  <div class="horizontal-separator"></div>
  <br>
  <p class="text-center">CONTACT: support@earth-care-project.com</p>
  <p class="text-center">21 rue Haxo, 13001 Marseille</p>
  <br>
</div>
