<h1> Hello it's le profile !</h1>

<% @missions.each do |mission| %>
<%= mission.user.first_name %> <%= mission.user.last_name %>
<%=  mission.title %>
<%=  mission.photo_url %>
<%=  mission.description %>
<%=  mission.start_date %>
<%=  mission.end_date %>

<% end %>


<div class="footer calendar">
  <%= link_to missions_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to calendars_path do %>
    <i class="fa-solid fa-calendar"></i>
  <% end %>

  <%= link_to missions_path do %>
    <i class="fa-solid fa-wallet"></i>
  <% end %>

  <%= link_to profile_path do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
