<% if user_signed_in? %>
  <br>
  <br>
  <div class="container mt-5">
      <div class="card">
        <div class="card-body text-center background-card-profile">

          <%= current_user.first_name.capitalize%>
          <%= current_user.last_name.capitalize%>
          <%= current_user.email %>

        </div>
      </div>


 <%# les points debloqués lors du booking %>
     <p>Your wallet is unlocked</p>
      <% @vouchers.each do |voucher, booking| %>
       <strong> You unlocked <%= voucher.booking.mission.reward %> points </strong>
      <% end %>


      <br>
      <div class="green-line"></div>
      <br>


    <div class="container-booking">
        <div class="header-profile">
          <h1>My Bookings</h1>
        </div>
        <div class="bookings">

        <%# <% current_user.bookings.last.mission.accept %>
          <% @bookings.each do |booking, mission| %>
            <div class="booking-list">
              <div class="booking">
                <div class="booking-info">
                  <div class="booking-time"><%= image_tag booking.mission.photo_url, class: "img-booking"%></div>
                  <div class="booking-time"><%= booking.mission.title %></div>
                  <div class="booking-time"><%= booking.mission.start_date %></div>
                  <div class="booking-time"><%= booking.mission.end_date %></div>

                  <div class="booking-status">Confirmed</div>

                  <%# <div class="booking-time"><%= booking.mission.description.truncate(20, omission: '...').html_safe %>

                </div>

              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>







    <div class="container-booking">
        <div class="header-profile">
          <h1>Creation Dashboard</h1>
        </div>
        <div class="bookings">
          <% @missions.each do |mission| %>
            <div class="booking-list">
              <div class="booking">
                <div class="booking-info">
                  <div class="booking-time"><%= mission.title %></div>
                  <div class="booking-time"><%= mission.duration.strftime('%H:%M') %></div>
                  <div class="booking-location"><%= mission.location %></div>
                </div>
                <div class="booking-status">Created</div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>



  </div>
  <br>

  <div class="footer">
    <%= link_to missions_path do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to calendars_path do %>
      <i class="fa-solid fa-calendar"></i>
    <% end %>

    <%= link_to missions_path do %>
      <i class="fa-solid fa-wallet"></i>
    <% end %>

    <%= link_to missions_path do %>
      <i class="fa-solid fa-comments"></i>
    <% end %>

    <%= link_to profile_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>


 <% end %>
