<% if user_signed_in? %>
  <br>
  <br>

  <div class="container">

      <div class="card">
        <div class="card-body text-center background-card-profile">

           <%= current_user.first_name.capitalize%>
          <%= current_user.last_name.capitalize%>
          -<%= current_user.email %>

        </div>
      </div>




                  <%# si id de booking exist %>


      <strong> <p>  Find your wallet here </p> </strong>

              <% @vouchers.each do |voucher| %>
                <%# <strong> You unlocked</strong> <%= voucher.booking.mission.reward %>
                 <strong>  You have  <%= voucher.booking.mission.reward %> points for the <%= voucher.booking.mission.title %> mission  </strong>
                  <%# <strong> You unlocked </strong> <%= @voucher.booking.mission.reward %>
                    <br>
                      <%= link_to "Generate voucher",  booking_voucher_path(voucher.booking, voucher) %>
                      <p> Click on the link to generate the QR code "voucher" </p>


              <% end %>
            <%# (voucher.booking) %>
      <br>
      <div class="green-line"></div>
      <br>
      </div>

    <div class="container-booking">
        <div class="header-profile">
          <h1>My Bookings</h1>
        </div>
        <div class="bookings">

          <% @bookings.each do |booking, mission| %>
            <div class="booking-list">
              <div class="booking">
                <div class="booking-info">
                  <div class="booking-time"><%= image_tag booking.mission.photo_url, class: "img-booking"%></div>
                  <div class="booking-time"><%= booking.mission.title %></div>
                  <div class="booking-time"><%= booking.mission.start_date %></div>
                  <div class="booking-time"><%= booking.mission.end_date %></div>
                   <div class="booking-status">Confirmed</div>


                  <% if booking.vouchers.empty?  %>
                    <strong> to Unlocked your points for this mission click on the button below </strong>
                    <%= simple_form_for([booking, @voucher]) do |f| %>
                        <%= f.text_area :total_points, style: 'display:none' %>
                        <strong>👉<%= f.submit "I completed my mission ", class: "btn btn-success"%> 👈 </strong>
                    <% end %>

                  <% end %>

                      <%# <%= link_to mission_chatroom_path(@mission, @mission.chatroom) do %>
                    <%# <i class="fa-solid fa-comments"></i> %>
                  <%# <% end %>



                  <%# <div class="booking-time"><%= booking.mission.description.truncate(20, omission: '...').html_safe %>

                </div>

              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>











    <div class="container-booking">

        <div class="header-profile">
          <h1>Creation Dashboard</h1>
        </div>
        <div class="bookings">
          <% @missions.each do |mission| %>
            <div class="booking-list">
              <div class="booking">
                <div class="booking-info">
                  <div class="booking-time"><%= mission.title %></div>
                  <div class="booking-time"><%= mission.start_date %> - <%= mission.duration.strftime('%H:%M') %></div>
                  <div class="booking-location"><%= mission.location %></div>
                  <%= link_to "Edit you posted mission", edit_mission_path(mission),class: "btn"  %>
                  <%= link_to "Delete your mission", mission_path(mission),  data: {turbo_method: :delete, confirm: "Are you sure?" } %>
                </div>
                <div class="booking-status">Created</div>

              </div>
            </div>

          <% end %>
       <%# <% if current_user == @mission.user %>

          </div>

        </div>



            <%# <%= link_to "Dashboard", profil_path, data: {turbo_method: :get}, class: "btn" %>


      </div>
    </div>


  </div>
  <br>

  <div class="footer">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to calendars_path do %>
      <i class="fa-solid fa-calendar"></i>
    <% end %>


    <%= link_to profile_path  do %>
      <i class="fa-solid fa-wallet"></i>
    <% end %>

    <%= link_to missions_path do %>
      <i class="fa-solid fa-comments"></i>
    <% end %>

    <%= link_to profile_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>

<% end %>
