<body class="body-form">
  <div class="main-w3layouts wrapper">
    <h2 class="title-form">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="main-agileinfo">
        <div class="agileits-top">

          <div>
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div>
          <%= f.button :submit, "Log in" %>
          </div>

        </div>


      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© Earth-Care-Project</p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body-form>
