


<div class="index-bg">


<div class="container1">
    <h1>
      <span>
        Earth Care
      </span>
    </h1>

    <h3>

      <span >
        The More You Care The More You Earn !
      </span>

    </h3>


</div>

    <%# <div class="loader">
        <span class="lettre">E</span>
        <span class="lettre">A</span>
        <span class="lettre">R</span>
        <span class="lettre">T</span>
        <span class="lettre">H</span>
        <span class="lettre"></span>
        <span class="lettre">C</span>
        <span class="lettre">A</span>
        <span class="lettre">R</span>
        <span class="lettre">E</span>


    </div>

    <div class="accueil">
        <h1> !</h1>
    </div>


    <script src="app.js"></script> %>



   <div class="container">

      <div class="row row-cols-1 row-cols-md-3">
         <% @missions.each do |mission| %>
            <div class="col-md-4 mb-5 mt-4 ml-4 mr-4">
               <div class="card h-100">
                  <%= image_tag mission.photo_url, class: "card-img-top mb-1" %>
                  <div class="card-body">
                     <p class="card-title"><%= mission.title %></p>
                  <p class="card-text"><%= mission.description.truncate(60, omission: '...').html_safe %></p>
                  </div>
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item"><i class="far fa-clock"></i> <%=mission.duration = rand(1..5) %> hours/day - <%= Time.new(2000, 1, 1, rand(5..21), [0, 15, 30, 45].sample).strftime('%H:%M') %> <strong>sharp</strong><%="👌".html_safe%> </li>
                     <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> <%= mission.location %></li>
                     <%# <li class="list-group-item"><strong>Address:</strong> <%= mission.address %>
                     <li class="list-group-item"><i class="fas fa-calendar-alt"></i> <%= mission.start_date.strftime('%d/%m/%Y') %> - <%= mission.end_date.strftime('%d/%m/%Y') %></li>

                  </ul>
                <%= link_to "See more details",  mission_path(mission), class: "btn btn-primary" %>

               </div>

              </div>
          <% end %>
        </div>
    </div>
</div>

<script>
document.querySelectorAll('.card-text').forEach((cardText) => {
  let fullText = cardText.innerHTML;
  let truncatedText = fullText.substring(0, 20) + '...';
  let isTruncated = true;

  cardText.innerHTML = truncatedText;

  cardText.addEventListener('click', () => {image.png
    if (isTruncated) {
      cardText.innerHTML = fullText;
      isTruncated = false;
    } else {
      cardText.innerHTML = truncatedText;
      isTruncated = true;
    }
  });
});
</script>



  <%# <%= link_to "CHECK THE MISSION", mission_path(mission) %>


  <%# <%= link_to "CHECK THE MISSION", mission_path(mission) %>


<%# pk.eyJ1IjoidGhlb2JvbmRheiIsImEiOiJjazc0anVmMjUwOHZ0M2VwYTRlcGs2dnZjIn0.byLisvWA9__hIZ5FBFybNw %>
