
    <h1> <strong> Earth care </strong> </h1>


    <p>The More You Care The More You Win.</p>

<% content_for :scripts do %>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
  <script>
    const mapboxToken = 'pk.eyJ1IjoibWFyaWVsbGV0YXlyaSIsImEiOiJjbGYwdnpoZWEwMmt0M3pwbjA1czRydHFkIn0.onllMdPD3t7d-iGI91qE7Q';
    mapboxgl.accessToken = mapboxToken;

    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [2.3522, 48.8566],
    zoom: 12,
    });
    <% @missions.each do |mission| %>
    const geocoder = new MapboxGeocoder({
    accessToken: mapboxToken,
    mapboxgl: mapboxgl,
  });
    geocoder.setQuery('<%= mission.address %>');
    geocoder.on('result', function(result) {
    const marker = new mapboxgl.Marker()
      .setLngLat(result.result.geometry.coordinates)
      .addTo(map);
    const popup = new mapboxgl.Popup()
    .setHTML(`<h4><%= mission.title %></h4><p><%= mission.description %></p><p><strong>Address:</strong> <%= mission.address %></p>`);
    marker.setPopup(popup);
  });
  map.addControl(geocoder);
  <% end %>

  </script>
<% end %>

<div id="map" style="height: 400px;"></div>

<% content_for :scripts do %>
  <script async defer src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<% end %>

<%# ité sur tte les missions. pr chaque mission, objet geocoder utulusé pr géocod l'adresse de la mission.
on utilise adresse de la mission stockée dans mission.adress.
result renvoyé dans le callback qui prend 2 args (status et results)
si status ok, on créer un marker  pour ajouter un marqueur sur la carte à l'emplacement de la missio
InfoWindow de Google Maps qui est utilisé pour afficher des informations supplémentaires sur la mission lorsque l'utilisateur clique sur le marque %>

  </div>

<h1>Missions</h1>

<%= link_to "New mission", new_mission_path %>

<div class="banner">
   <div class="background-overlay">
      <%# <%= image_tag "background-image.jpg" %>
   </div>
   <div class="container">
      <p class="titre-homepage text-center mt-4 w-100 p-3">Hello to all concerned and conscious people!</p>
      <div class="row row-cols-1 row-cols-md-3">
         <% @missions.each do |mission| %>
            <div class="col-md-4 mb-4">
               <div class="card h-100">
                  <%= image_tag mission.photo_url, class: "card-img-top" %>
                  <div class="card-body">
                     <h5 class="card-title"><%= mission.title %></h5>
                     <p class="card-text"><%= mission.description %></p>
                  </div>
                  <%= link_to "See more details",  mission_path(mission), class: "btn btn-primary" %>

                  <ul class="list-group list-group-flush">
                     <li class="list-group-item"><i class="far fa-clock"></i> <%=mission.duration = rand(1..5) %> hours per day - <%= Time.new(2000, 1, 1, rand(5..21), [0, 15, 30, 45].sample).strftime('%H:%M') %> <strong>sharp</strong><%="👌".html_safe%> </li>
                     <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> <%= mission.location %></li>
                     <%# <li class="list-group-item"><strong>Address:</strong> <%= mission.address %>
                     <li class="list-group-item"><i class="fas fa-calendar-alt"></i> <%= mission.start_date.strftime('%d/%m/%Y') %> - <%= mission.end_date.strftime('%d/%m/%Y') %></li>
                     <li class="list-group-item"><i class="fas fa-star"></i> <%= mission.rating %></li>
                     <li class="list-group-item"><i class="fas fa-trophy"></i> <%= mission.reward %> points</li>
                  </ul>
                  <%= link_to "Book your mission",  new_mission_booking_path(mission), class: "btn btn-primary" %>
               </div>
            </div>
         <% end %>
      </div>
   </div>
</div>



  <%# <%= link_to "CHECK THE MISSION", mission_path(mission) %>


  <%# <%= link_to "CHECK THE MISSION", mission_path(mission) %>


<%# pk.eyJ1IjoidGhlb2JvbmRheiIsImEiOiJjazc0anVmMjUwOHZ0M2VwYTRlcGs2dnZjIn0.byLisvWA9__hIZ5FBFybNw %>
