  <div class="page-header mt-3 mb-2">
    <h4 class="text-title">Earth Care</h4>
    <span class="text-is">The More You Care, The More You Earn</span>
  </div>

  <div class="container-fluid">
     <form class="d-flex">
      <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search or missions...">
          <button class="btn btn-outline-success" type= "submit"> GO </button>
       </form>
     </form>
  </div>

<div class="container">
  <% @missions.each do |mission| %>
    <div class="margin">
      <div class="card-main radius h-25 mt-4">
        <div class="mt-3">
      <h2 class="text-center mb-3"><%= mission.title %></h2>

          <div class="color-font text-center">
            <span><i class="fas fa-calendar-alt"></i> <%= mission.start_date %> - </span>
            <span><%= mission.end_date %></span>
            <span><i class="far fa-clock"></i> <%= Time.new(2000, 1, 1, rand(5..21), [0, 15, 30, 45].sample).strftime('%H:%M') %></span>
          </div>
        </div>
        <div class="color-font text-center pb-2">
          <span><i class="fas fa-star"></i>  <%= mission.rating %> Stars</span>
          <span><i class="fas fa-trophy"></i>  <%= mission.reward %> Points</span>
        </div>
        <% if mission.photo_url %>
          <div class="image-wrapper">
            <%= link_to mission_path(mission) do %>
              <%= image_tag mission.photo_url, height: 150, class: "w- object-fit-fill", class: "card-img-top" %>
            <% end %>
          </div>
        <% end %>
        <div class="card-main-details">
          <div class="overflow-text">
            <div class="d-flex">
              <span class=" card-main-pricing color-font w-10 mb-3"><i class="fas fa-map-marker-alt"></i> <%= mission.location %></span>
            </div>
            <p class="text-center width overflow-scroll"> <%= mission.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
