<%# <body class="body-form"> %>
	<!-- main -->

<% if user_signed_in? %>
	<div class="container-form-new">
		<h4 class="title-form">CREATE YOUR MISSION</h4>
    <%= simple_form_for(@mission) do |f| %>
		  <div class="main-agileinfo">
        <div class="agileits-top">
                <%= f.input :title %>
                <%= f.input :photo, as: :file %>
                <%= f.input :description %>
                <%= f.date_field :start_date %>
                <%= f.date_field :end_date %>
                <%= f.input :location %>
                <%= f.input :reward %>
                <%= f.time_select :duration, label: "Duration" %>
                <%= f.input :dess_code, label: " Your dress code" %>
               <br>

            <div class="wthree-text">
              <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I Agree To The Terms & Conditions</span>
              </label>
              <div class="clear"> </div>
            </div>
            <br>
                 <div class = "text-center"> <%= f.submit "Create mission", class: "btn btn-primary p-3 m-3 mb-3 " %> </div>
    <% end %>
      </div>

          <strong> <%= link_to "< Back to missions", missions_path, class: "link_to_form"%>  </strong>
	   </div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© Earth-Care-Project</p>
		</div>
		<!-- //copyright -->


	</div>


<% end %>
<%# </body-form> %>
