<body class="body-form">
	<!-- main -->

<% if user.user_signed_in? %>
	<div class="main-w3layouts wrapper">
		<h1 class="title-form">NEW MISSION</h1>
    <%= simple_form_for(@mission) do |f| %>
		  <div class="main-agileinfo">
        <div class="agileits-top">
                <%= f.input :title %>
                <%= f.file_field :photo_url, label: "your pic"  %>
                <%= f.input :description %>
                <%= f.date_field :start_date %>
                <%= f.date_field :end_date %>
                <%= f.input :location %>
                <%= f.input :reward %>
                <%= f.time_select :duration, label: "Duration" %>
                <%= f.input :dess_code, label: " Your dress code" %>


               <br>

            <div class="wthree-text">
              <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I Agree To The Terms & Conditions</span>
              </label>
              <div class="clear"> </div>
            </div>
            <br>
            <%= link_to "Create mission", profile_path, data: {turbo_method: :get, turbo_confirm: "CONGRATS you're mission is post!" }, class: "btn btn-dark btn-lg btn-block "%>
    <% end %>
      </div>

      <%= link_to "< Back to missions", missions_path, class: "link_to_form"%>

	  </div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© Earth-Care-Project</p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
  <% end %>
</body-form>
