<h1><%= @mission.title %></h1>

<p><%= @mission.description %></p>

<p>Start date : <%= @mission.start_date %></p>
<p>End date : <%= @mission.end_date %></p>
<p>Locatin: <%= @mission.location %></p>
<p>Reward: <%= @mission.reward %> points</p>

<%= link_to "Update mission", edit_mission_path(@mission) %>
<%= link_to "Delete mission", mission_path(@mission), method: :delete, data: { confirm: "Are you sure?" } %>
